POSTGRES_DB=ierg4210
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_URL=postgresql://postgres:postgres@db:5432/ierg4210


EXE_MODE=dev
API_URL=http://api:8000
WEB_URL=http://localhost:5173
REDIS_URL=redis://redis:6379/0
APPLICATION_TOKEN=veryverysecretapplicationtoken
SMTP_CONN=user:pass@host:port

SIGNING_SECRET=verysecretkeydonttellanyone

VITE_O_AUTH_CLIENT_ID=notsosecretclientid
O_AUTH_CLIENT_SECRET=veryverysecretclientsecret
PAYPAL_API_BASE_URL=https://api-m.sandbox.paypal.com
