POSTGRES_DB=ierg4210
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_URL=postgresql://postgres:postgres@localhost:5432/ierg4210
EXE_MODE=dev
API_URL=http://api:8000
SIGNING_SECRET=verysecretkeydonttellanyone


ENVIRONMENT=sandbox
VITE_O_AUTH_CLIENT_ID=notsosecretclientid
O_AUTH_CLIENT_SECRET=veryverysecretclientsecret

